[Unit]
Description=SSH Key Format Checker
After=network.target

[Service]
Type=oneshot
ExecStart=/opt/scripts/utils/fix-ssh-keys.sh
User=ec2-user
Group=ec2-user

[Install]
WantedBy=multi-user.target
