[Unit]
Description=Run container tests every hour
Requires=container-tests.service

[Timer]
Unit=container-tests.service
OnBootSec=15min
OnUnitActiveSec=1h
AccuracySec=1min

[Install]
WantedBy=timers.target
