[Unit]
Description=Mise à jour des cibles Prometheus
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash /opt/monitoring/scripts/update-prometheus-targets.sh
User=root
Group=root

[Install]
WantedBy=multi-user.target
